<section>
    <h2>${this.title}$</h2>
    <figure>
        <figcaption>typescript</figcaption>
        <pre dr-pre class="code-container typescript">constructor(index: Index){...}</pre>
    </figure>
    <figure>
        <figcaption>html</figcaption>
        <pre dr-pre class="code-container html">&lt;index&gt;&lt;/index&gt;
&lt;index dr-on-init=&quot;$component.setData(&#39;hello component&#39;, $innerHTML)&quot;&gt;&lt;/index&gt;</pre>
    </figure>
</section>

<domrender-component-attr-section></domrender-component-attr-section>
