ul.root-directory {
    list-style:none;
}
ul.root-directory > li::before {
    content: '├ ';
}
ul.root-directory > li:first-child::before {
    content: '┌ ';
    margin-left: -1px;
    font-size: 0.9rem;
}

ul.root-directory > li:last-child::before {
    content: '└ ';
    font-size: 0.9rem;
    margin-left: -1px;
}


ul.child-directory {
    list-style:none;
    /*padding-left: calc(50 - 10px);*/
}
ul.child-directory > li::before {
    content: ' ├ ';
    padding-left: 4px;
}
ul.child-directory > li:last-child::before {
    content: '└ ';
    font-size: 0.9rem;
    margin-left: -1px;
}

ul.root-directory > li small, ul.child-directory > li small {
    font-size: 0.5rem;
    padding-left: 3px;
}
ul.root-directory > li small::before, ul.child-directory > li small::before {
    content: '(';
}
ul.root-directory > li small::after, ul.child-directory > li small::after {
    content: ')';
}
