<section>
    <h2>${this.title}$</h2>
    <figure>
        <figcaption>index.html</figcaption>
        <pre dr-pre class="code-container html">&lt;header&gt;
    &lt;nav&gt;
        &lt;ul&gt;
            &lt;li&gt;
                &lt;button router-link=&quot;/&quot;&gt;home&lt;/button&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;button router-link=&quot;/user&quot;&gt;user&lt;/button&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/nav&gt;

&lt;/header&gt;
&lt;main&gt;
    &lt;route component=&quot;this.child&quot;&gt;&lt;/route&gt;
&lt;/main&gt;
&lt;footer&gt;
    footer
&lt;/footer&gt;
</pre>
    </figure>
    <figure>
        <figcaption>router index.ts</figcaption>
        <pre dr-pre class="code-container typescript">@Sim()
@Router({
    path: '',
    route: {
        '/': Home,
        '/users': User
    }
})
@Component({
    template,
    styles: [style]
})
export class Index implements RouterAction {
    child?: any;
    canActivate(url: any, module: any): void {
        this.child = module;
    }
}</pre>
    </figure>
    </pre>
</section>
