<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <!--%module(this.info)%-->
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark pointer" router-link="">simple boot</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">

                <a class="btn btn-sm btn-outline-secondary" href="https://github.com/visualkhh/simple-boot-front" target='_blank'>
                    <i class="fab fa-github"></i> github
                </a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 link-secondary pointer" router-link="/" router-active-class="['active']">Home</a>
            <a class="p-2 link-secondary pointer" router-link="/ajax" router-active-class="['active']">Ajax</a>
            <a class="p-2 link-secondary pointer" router-link="/intent" router-active-class="['active']">Intent event</a>
            <a class="p-2 link-secondary pointer" router-link="/exception" router-active-class="['active']">exception</a>
            <a class="p-2 link-secondary pointer" router-link="/aop" router-active-class="['active']">aop</a>
            <a class="p-2 link-secondary pointer" router-link="/views" router-active-class="['active']">views</a>
            <a class="p-2 link-secondary pointer" router-link="/documents" router-active-class="['active']">documents</a>
        </nav>
    </div>
</div>

<main class="container" [router-outlet]></main>

<footer class="blog-footer">
    <p>SimpleBootFront for <a href="mailto:visualkhh@gmail.com">visualkhh@gmail.com</a></p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
