<div class="container">
    <header class="blog-header">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 text-center">
                <img width="100%" src="https://github.com/visualkhh/simple-boot-front/raw/master/assets/banner.png">
            </div>
        </div>
    </header>
</div>
<main class="container">
    <scope component="this.child"></scope>
</main>
<footer class="blog-footer">
    <p>
        <a href="https://github.com/visualkhh/simple-boot-front" target="_blank"><img src="https://img.shields.io/badge/-github-black?logo=github"></a>
    </p>
    <p><a href="mailto:visualkhh@gmail.com">visualkhh@gmail.com</a></p>
</footer>
